.container {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.header {
    padding: 60px;
    text-align: center;
    background-color: rgba(112, 0, 0, 0.679);
    color: white;
    text-emphasis-color: red;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgtext {
    padding: 60px;
    font-size: 200px;rgba(15, 14, 14, 0.679);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}