* {
    box-sizing: border-box;
}

#logo {
    position: fixed;
    width: 12%;
    height: 70px;
    top: 1%;
    left: 3%;
    z-index: 5;
    filter: sepia();
}

#leftpic {
    float: left;
    z-index: 1;
    width: 30%;
    height: 650px;
}
#midpic {
    float: center;
    z-index: 1;
    width: 40%;
    height: 850px;
}
#rightpic {
    float: right;
    z-index: 1;
    width: 30%;
    height: 650px;
}
#botleftpic {
    position: absolute;
    left: 0;
    bottom: 2%;
    z-index: 1;
    filter: sepia();
    width: 30%;
    height: 200px;
}
#botrightpic {
    position: absolute;
    right: 0;
    bottom: 2%;
    z-index: 1;
    filter: sepia();
    width: 30%;
    height: 200px;
}

#name, #email, #tele, #message {
    background-color: saddlebrown;
    width: 50%;
    opacity: 90%;
}

#send {
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
}

#message {
    resize: none;
}

body, html {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    border-radius: 10px;
    color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 22px;
    display: inline-block;
    width: 15%;
    min-width: 100px;
    height: 40px;
    box-shadow: 0 0 25px 4px rgb(255, 123, 0) inset;
    padding: 10px;
    opacity: 90%;
}

li:last-child a {
    margin-right: 0;
}

a:link, a:visited, a:focus {
    background:saddlebrown;
}

a:hover {
    background: wheat;
}

a:active {
    background: black;
    color: wheat;
}

.navbar {
    background-image: url("https://images.unsplash.com/photo-1621731200046-45ebf10913bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
    background-size: 100%;
    position: fixed;
    top: 0; 
    width: 100%; 
    height: 80px;
    z-index: 4;
}

h1 {
    color:saddlebrown;
    text-shadow: 1px 1px 1px burlywood;
    width: auto;
}

.blacktext {
    color:black;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.canvas {
    background-color: rgb(27, 27, 27);
}

footer {
    width: 100%;
    height: 100%;
    padding-top: 1px;
    background: saddlebrown;
}


