*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-style: none;
}
#menuspace {
    height: 100px;
    background-color: rgb(10, 31, 37);
}
.center {
    margin: auto;
    border: solid 1px black;
    text-align: center;
}
#menuItem {
    margin: auto;
    border: solid 1px red;
    text-align: center;
}