*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    border-radius: 10px; /*rundar hörnen på bakgrunden*/
}
.center {
    background-color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: double 1em rgb(5, 4, 63);
}
#menuBar {
    padding: 2rem;
    list-style: none;
}
#menuBar a {
    font-family: 'Rubik', sans-serif;
    color: rgb(5, 4, 63);
    text-decoration:none;
    font-size: 1.2em;
    padding: 2rem;
}
#menuBar a:hover{
    color: rgb(5, 4, 63);
    text-shadow: 0px 0px 5px #000000;
    /*Fick insperation från: https://html-css-js.com/css/generator/text-shadow/ */
}
#headerimage {
    vertical-align: middle;
    position: absolute;
    left: 2em;
    width: 200px;
    max-width: 100%;
    height:auto;
}
h1 {
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    color: white;
}
h2 {
    font-size:20px;
    color: white;
}
img {
    border-radius: 20px;
    width: 400px;
    max-width: 100%;
}
#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; /* sätter 'lådorna' som alla bilar är i centrerat*/ 
    border-top: double 1em rgb(5, 4, 63);
 
}
.bilar{
    margin: 5px;
    border-radius: 10px; 
    width: 45%;
    background-color: rgb(5, 4, 63);
    position: center;
    color: white;
    text-align: center;
}